In [3]:
l = [4,53,4,76,45,7,33,65,435,324,23,4]
for var in range(len(l)):
    print(l[var],end="\t")

4	53	4	76	45	7	33	65	435	324	23	4

In [6]:
for var in range(100,1):
    print(var)

In [9]:
for var in range(50,61):
    print(var,end="\t")

50	51	52	53	54	55	56	57	58	59	60

In [10]:
for var in range(15):
    if var%3 == 0:
        print("Hi")
    elif var%4 == 0:
        continue
    elif var == 14:
        break
    else:
        print(var)

Hi
1
2
Hi
5
Hi
7
Hi
10
11
Hi
13

In [11]:
#List comprehension

In [12]:
[1,1,1,1,1,1,1,1,1,1]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [13]:
l = []
for var in range(10):
    l.append(1)

In [14]:
print(l)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [15]:
#using list comprehension

In [17]:
l = [1 for var in range(10)]
print(l)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [18]:
l1 = [0 for var in range(50)]

In [19]:
print(l1)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [21]:
l3 = [var for var in range(10)]
print(l3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
l = [124,23,5,6,67,75,65,23,4,32,5,6786,654,543,25,675,7,785,643]

In [7]:
l = [124,23,5,6,67,75,65,23,4,32,5,6786,654,543,25,675,7,785,643]
for var in l:
    if var%2==0:
        print(var)

124
6
4
32
6786
654

In [41]:
[var for var in l if var%2==0]

[124, 6, 4, 32, 6786, 654]

In [29]:
l = ['M','na','i','Ke']
l1 = ['y','me','s','lly']

In [30]:
#output --> "My name is Kelly"

In [31]:
l3 = [l[var]+l1[var] for var in range(len(l))]

In [37]:
s = " ".join(l3)
print(f' "{s}" ',type(s))

 "My name is Kelly"  <class 'str'>

In [42]:
#if 

#syntax

#[var for var in iterable if condition]


#if else

# True if condition else False

In [44]:
a = 4
b = 6
"Ravi" if a>b else "Ramawat"

'Ramawat'

In [45]:
l

[124, 23, 5, 6, 67, 75, 65, 23, 4, 32, 5, 6786, 654, 543, 25, 675, 7, 785, 643]

In [48]:
print(["even" if var%2==0 else "Odd" for var in l])

['even', 'Odd', 'Odd', 'even', 'Odd', 'Odd', 'Odd', 'Odd', 'even', 'even', 'Odd', 'even', 'even', 'Odd', 'Odd', 'Odd', 'Odd', 'Odd', 'Odd']