In [7]:
name = input("Enter your name --> ")
roll = input("Enter your Roll No --> ")
cls = input("Enter your Class --> ")
eng = 90
maths = 98
hindi = 87
sst = 90
cs = 99
sc = 100
per = (eng+maths+hindi+sst+sc+cs)/600*100
print("*"*99)
print("-"*99)
print("Marksheet".center(99))
print("-"*99)
print("*"*99)
print("English -->",eng)
print("Maths -->",maths)
print("Science -->",sc)
print("Hindi -->",hindi)
print("Social Studies -->",sst)
print("Computer Science -->",cs)

Enter your name --> Ravi
Enter your Roll No --> 01
Enter your Class --> II
***************************************************************************************************
---------------------------------------------------------------------------------------------------
                                             Marksheet
---------------------------------------------------------------------------------------------------
***************************************************************************************************
English --> 90
Maths --> 98
Science --> 100
Hindi --> 87
Social Studies --> 90
Computer Science --> 99

In [8]:
name = input("Enter your name --> ")
roll = input("Enter your Roll No --> ")
cls = input("Enter your Class --> ")
eng = 90
maths = 98
hindi = 87
sst = 90
cs = 99
sc = 100
per = (eng+maths+hindi+sst+sc+cs)/600*100

print("""$---Marksheet---$

Name --> {}
Roll No --> {}
Class --> {}


English --> {}
Maths --> {}
Hindi --> {}
Social Studies --> {}
Computer Science --> {}
Science --> {}""".format(name,roll,cls,eng,maths,hindi,sst,cs,sc))

Enter your name --> Ravi
Enter your Roll No --> 01
Enter your Class --> III
$---Marksheet---$

Name --> Ravi
Roll No --> 01
Class --> III


English --> 90
Maths --> 98
Hindi --> 87
Social Studies --> 90
Computer Science --> 99
Science --> 100

In [9]:
name = input("Enter your name --> ")
roll = input("Enter your Roll No --> ")
cls = input("Enter your Class --> ")
eng = 90
maths = 98
hindi = 87
sst = 90
cs = 99
sc = 100
per = (eng+maths+hindi+sst+sc+cs)/600*100

print("""$---Marksheet---$

Name --> {0}
Roll No --> {1}
Class --> {2}


English --> {8}
Maths --> {7}
Hindi --> {6}
Social Studies --> {5}
Computer Science --> {4}
Science --> {3}""".format(name,roll,cls,eng,maths,hindi,sst,cs,sc))

Enter your name --> Ravi
Enter your Roll No --> 01
Enter your Class --> IV
$---Marksheet---$

Name --> Ravi
Roll No --> 01
Class --> IV


English --> 100
Maths --> 99
Hindi --> 90
Social Studies --> 87
Computer Science --> 98
Science --> 90

In [11]:
name = input("Enter your name --> ")
roll = input("Enter your Roll No --> ")
cls = input("Enter your Class --> ")
eng = 90
maths = 98
hindi = 87
sst = 90
cs = 99
sc = 100
per = (eng+maths+hindi+sst+sc+cs)/600*100

print(f"""$---Marksheet---$

Name --> {name}
Roll No --> {roll}
Class --> {cls}


English --> {eng}
Maths --> {maths}
Hindi --> {hindi}
Social Studies --> {sst}
Computer Science --> {cs}
Science --> {sc}""")

Enter your name --> Ravi
Enter your Roll No --> 01
Enter your Class --> IX
$---Marksheet---$

Name --> Ravi
Roll No --> 01
Class --> IX


English --> 90
Maths --> 98
Hindi --> 87
Social Studies --> 90
Computer Science --> 99
Science --> 100

In [27]:
for var in range(50):
    print(f"{var:<15}{var:<15b}{var:<15o}{var:<15X}")

0              0              0              0
1              1              1              1
2              10             2              2
3              11             3              3
4              100            4              4
5              101            5              5
6              110            6              6
7              111            7              7
8              1000           10             8
9              1001           11             9
10             1010           12             A
11             1011           13             B
12             1100           14             C
13             1101           15             D
14             1110           16             E
15             1111           17             F
16             10000          20             10
17             10001          21             11
18             10010          22             12
19             10011          23             13
20             10100          24             14
21             10101          25             15
22             10110          26             16
23             10111          27             17
24             11000          30             18
25             11001          31             19
26             11010          32             1A
27             11011          33             1B
28             11100          34             1C
29             11101          35             1D
30             11110          36             1E
31             11111          37             1F
32             100000         40             20
33             100001         41             21
34             100010         42             22
35             100011         43             23
36             100100         44             24
37             100101         45             25
38             100110         46             26
39             100111         47             27
40             101000         50             28
41             101001         51             29
42             101010         52             2A
43             101011         53             2B
44             101100         54             2C
45             101101         55             2D
46             101110         56             2E
47             101111         57             2F
48             110000         60             30
49             110001         61             31