In [3]:
n = int(input("Enter no. of lines --> "))
i = 0
while i<n:
    j = 0
    while j<=i:
        print("*",end=" ")
        j+=1
    print()
    i+=1

Enter no. of lines --> 5
*
* *
* * *
* * * *
* * * * *

### For Loop

In [4]:
n = int(input())
print(1-n)

1
0

    for var in iterable:
        statement...1
        .............
        .............
        .............
        ............n

In [8]:
for i in "Python":
    print(i*22)

PPPPPPPPPPPPPPPPPPPPPP
yyyyyyyyyyyyyyyyyyyyyy
tttttttttttttttttttttt
hhhhhhhhhhhhhhhhhhhhhh
oooooooooooooooooooooo
nnnnnnnnnnnnnnnnnnnnnn

In [9]:
l  = [12,312,4,32,543,6,546,53,4,123]
for var in l:
    print(var)

12
312
4
32
543
6
546
53
4
123

In [10]:
for var in "Naman":
    print("Python is Awesome")

Python is Awesome
Python is Awesome
Python is Awesome
Python is Awesome
Python is Awesome

In [14]:
d = {'a':10,'b':20,'c':30,'d':40}
for var in d:
    print(var,"-->", d[var])

a --> 10
b --> 20
c --> 30
d --> 40

In [15]:
d = {'a':10,'b':20,'c':30,'d':40}
for key,value in d.items():
    print(key,"-->", value)

a --> 10
b --> 20
c --> 30
d --> 40

In [16]:
d.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [17]:
s = {'Mon','Tue','Wed','Thu','Fri','Sat','Sun'}
for var in s:
    print(var)

Tue
Thu
Mon
Wed
Sat
Fri
Sun

In [18]:
for var in 123:
    print(var)

TypeError: 'int' object is not iterable

In [2]:
a = range(1,11)
print(*a,type(a))

1 2 3 4 5 6 7 8 9 10 <class 'range'>

In [22]:
for var in a:
    print(var,end="\t")

1	2	3	4	5	6	7	8	9	10

In [25]:
for var in range(1,51):
    print(var,"Hello World",end="\t")

1 Hello World	2 Hello World	3 Hello World	4 Hello World	5 Hello World	6 Hello World	7 Hello World	8 Hello World	9 Hello World	10 Hello World	11 Hello World	12 Hello World	13 Hello World	14 Hello World	15 Hello World	16 Hello World	17 Hello World	18 Hello World	19 Hello World	20 Hello World	21 Hello World	22 Hello World	23 Hello World	24 Hello World	25 Hello World	26 Hello World	27 Hello World	28 Hello World	29 Hello World	30 Hello World	31 Hello World	32 Hello World	33 Hello World	34 Hello World	35 Hello World	36 Hello World	37 Hello World	38 Hello World	39 Hello World	40 Hello World	41 Hello World	42 Hello World	43 Hello World	44 Hello World	45 Hello World	46 Hello World	47 Hello World	48 Hello World	49 Hello World	50 Hello World

In [26]:
l = [123,1,32,5,346,2,4,12,4,235,2,3,4]

In [28]:
for var in l:
    print(var,end="\t")

123	1	32	5	346	2	4	12	4	235	2	3	4

In [30]:
for var in range(len(l)):
    print(l[var],end="\t")

123	1	32	5	346	2	4	12	4	235	2	3	4

In [31]:
for var in range(100,-1,-1):
    print(var,end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0