In [2]:
for var in range(50):
    print(f"{var:>10d}{var:^10b}{var:^10o}{var:^10X}")

         0    0         0         0
         1    1         1         1
         2    10        2         2
         3    11        3         3
         4   100        4         4
         5   101        5         5
         6   110        6         6
         7   111        7         7
         8   1000       10        8
         9   1001       11        9
        10   1010       12        A
        11   1011       13        B
        12   1100       14        C
        13   1101       15        D
        14   1110       16        E
        15   1111       17        F
        16  10000       20        10
        17  10001       21        11
        18  10010       22        12
        19  10011       23        13
        20  10100       24        14
        21  10101       25        15
        22  10110       26        16
        23  10111       27        17
        24  11000       30        18
        25  11001       31        19
        26  11010       32        1A
        27  11011       33        1B
        28  11100       34        1C
        29  11101       35        1D
        30  11110       36        1E
        31  11111       37        1F
        32  100000      40        20
        33  100001      41        21
        34  100010      42        22
        35  100011      43        23
        36  100100      44        24
        37  100101      45        25
        38  100110      46        26
        39  100111      47        27
        40  101000      50        28
        41  101001      51        29
        42  101010      52        2A
        43  101011      53        2B
        44  101100      54        2C
        45  101101      55        2D
        46  101110      56        2E
        47  101111      57        2F
        48  110000      60        30
        49  110001      61        31

# Operators in Python

1. Arithmatic Operators
2. Logical Operators
3. Relational Operators
4. Assignment Operators
5. Membership Operators
6. Identity Operators
7. Bitwise Operators

###  Arithmatic Operators

In [21]:
#they can be applied only on numbers

1. Addition +
2. Subtraction -
3. Multiplication *
4. True Division /
5. Floor Division //
6. Remainder %
7. Exponent **

In [22]:
a =4
b = 2
print(a + b)

6

In [23]:
a  = -3
b = -23
print(a-b)

20

In [24]:
a = 2
b = -9
print(a*b)

-18

In [25]:
a = 2
b = 10
print(a**b)

1024

In [26]:
pow(3,3)

27

In [27]:
#true div or absolute

In [28]:
a = 10
b = 3
print(a/b)

3.3333333333333335

In [29]:
a = 10 #floor
b = 3
print(a//b)

3

In [31]:
a = 87 #remainder
b = 94
print(a%b)

87

In [32]:
print(b%a)

7

### Logical Operators

1. and
2. or
3. not

In [35]:
x = 0
y = 1
print(f"A\tB\tAND\tOR")
print(f"{x}\t{x}\t{x and x}\t{x or x}")
print(f"{x}\t{y}\t{x and y}\t{x or y}")
print(f"{y}\t{x}\t{y and x}\t{y or x}")
print(f"{y}\t{y}\t{y and y}\t{y or y}")

A	B	AND	OR
0	0	0	0
0	1	0	1
1	0	0	1
1	1	1	1

In [36]:
x = False
y = True
print(f"A\tB\tAND\tOR")
print(f"{x}\t{x}\t{x and x}\t{x or x}")
print(f"{x}\t{y}\t{x and y}\t{x or y}")
print(f"{y}\t{x}\t{y and x}\t{y or x}")
print(f"{y}\t{y}\t{y and y}\t{y or y}")

A	B	AND	OR
False	False	False	False
False	True	False	True
True	False	False	True
True	True	True	True

In [40]:
#relational operators
a = 3
b = 2
c = 1
print(a<b or b>c)

True

In [41]:
print(a!=b)

True

In [42]:
print(c==a)

False

In [43]:
print(a == a)

True

In [45]:
print(not a>b)

False

In [46]:
#assignment operators

In [47]:
a = 5
print(a)

5

In [48]:
b = 7
print(b)

7

In [49]:
#short hand

In [50]:
a =5
a+4
print(a)

5

In [52]:
a =5
a+=4  #a = a+4
print(a)

9

In [53]:
a-=2

In [54]:
print(a)

7

In [58]:
#Membership Operators

1. in
2. not in

In [60]:
l = [123,2,12,34,23,3,3]

In [61]:
123 in l

True

In [62]:
23 not in l

False

In [63]:
55 not in l

True

# Identity Operators

1. is 
2. is not

In [65]:
a = 5
b = 5

In [66]:
a is b

True

In [67]:
l = [1,2,3]
l1 = [1,2,3]
l is l1

False

In [68]:
print(id(a))

2488340801968

In [69]:
print(id(b))

2488340801968

In [72]:
l1 == l #check value
l is l1 #check id

False

# Bitwise