# For loop::

In [1]:
n=int(input())
print(1-n)

1
0

In [2]:
for i in "Pyhthon":
    print(i)

P
y
h
t
h
o
n

In [3]:
for i in "Python":
    print(i*2)

PP
yy
tt
hh
oo
nn

In [4]:
# for even number--?

l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
    if i%2==0:
        print(i)

2
4
6
8
10

In [5]:
# For multiplication table--->

n= int(input("Enter a number--->"))
for i in range(1,11):
    print(f"{n}X{i}={n*i}")

Enter a number--->2
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

In [6]:
#Fabonacci series--->

n=int(input("Enter a number--->"))
a=0
b=1
for i in range(1,n):
    s=a+b
    print(a,end=" ")
    a=b
    b=s

Enter a number--->6
0 1 1 2 3

In [7]:
s = "The quick brown fox jumps over the lazy dog".lower()
s1=s.split()
print(s1)
for i in s1:
    print(s1.count(i[0],end=","))

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

TypeError: list.count() takes no keyword arguments

In [8]:
s="Hello My name is Ayushi Goyal"
s1=s.split()
print(s1)
for i in s1:
    print(i[0])

['Hello', 'My', 'name', 'is', 'Ayushi', 'Goyal']
H
M
n
i
A
G

In [9]:
a=input("Enter a letter--->")
s='a','e','i','o','u'
for var in s:
    if a.casefold().strip() in s:
        print("vowel")
    else:
        print("consonant")

Enter a letter--->a
vowel
vowel
vowel
vowel
vowel

In [10]:
# To check number is prime or not???
num=int(input("Enter a number-->"))
count=0
for i in range(1,num+1):
    if num%i==0:
        count+=1
if count==2:
    print("number is prime")
else:
    print("number is not prime")

Enter a number-->5
number is prime

In [11]:
# To find a factorial of a given number???
num=int(input("Enter a number-->"))
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

Enter a number-->5
120

In [12]:
l1=[2,4,6,8,10,12,14]
l2=[3,5,7,9,11,13,15]
l3=[]
for i in range(len(l1)):
    l3.append(l1[i]+l2[i])
print(l3)

[5, 9, 13, 17, 21, 25, 29]

In [ ]:
# Pattern programs---

In [13]:
n=int(input("Enter number of lines-->"))
for i in range(n):
    for j in range (n):
        print("*",end=" ")
    print()

Enter number of lines-->5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [14]:
n=int(input("Enter number of lines-->"))
for i in range(n):
    print("*",end=" ")
    for j in range(j<i,n-3):
        print("*",end=" ")
    print()

Enter number of lines-->5
* * *
* * *
* *
* *
* *

In [15]:
l=['M','na','i','ke']
l1=['y','me','s','lly']
l3=[]
for i in range(len(l)):
    l3.append(l[i]+l1[i])
print(*l3)

My name is kelly

In [19]:
l3=[l[i]+l1[i] for i in range(len(l))]
print(*l3,type(l3))

My name is kelly <class 'list'>

In [18]:
s=" ".join(l3)
print(s,type(s))

My name is kelly <class 'str'>

In [22]:
l = [4,53,4,76,45,7,33,65,435,324,23,4]
for i in range(len(l)):
    print(i,end="\t")

0	1	2	3	4	5	6	7	8	9	10	11

In [21]:
l = [4,53,4,76,45,7,33,65,435,324,23,4]
for i in l:
    print(i,end="\t")

4	53	4	76	45	7	33	65	435	324	23	4

In [23]:
num=int(input("Enter a number-->"))
for i in range(num,0,-1):
    print(i,end="\t")

Enter a number-->5
5	4	3	2	1

In [24]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [25]:
l = [4,53,4,76,45,7,33,65,435,324,23,4]
for i in range(len(l)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [26]:
for i in range(1,51):
    print(f"{i} {i:^10b} {i:^10o} {i:^10X}")

1     1          1          1
2     10         2          2
3     11         3          3
4    100         4          4
5    101         5          5
6    110         6          6
7    111         7          7
8    1000        10         8
9    1001        11         9
10    1010        12         A
11    1011        13         B
12    1100        14         C
13    1101        15         D
14    1110        16         E
15    1111        17         F
16   10000        20         10
17   10001        21         11
18   10010        22         12
19   10011        23         13
20   10100        24         14
21   10101        25         15
22   10110        26         16
23   10111        27         17
24   11000        30         18
25   11001        31         19
26   11010        32         1A
27   11011        33         1B
28   11100        34         1C
29   11101        35         1D
30   11110        36         1E
31   11111        37         1F
32   100000       40         20
33   100001       41         21
34   100010       42         22
35   100011       43         23
36   100100       44         24
37   100101       45         25
38   100110       46         26
39   100111       47         27
40   101000       50         28
41   101001       51         29
42   101010       52         2A
43   101011       53         2B
44   101100       54         2C
45   101101       55         2D
46   101110       56         2E
47   101111       57         2F
48   110000       60         30
49   110001       61         31
50   110010       62         32

In [28]:
l=[1,2,3,4,5,6,7,8,9,10]
for i in range(1,len(l),-1):
    print(i)

In [30]:
s="Hello My name is Ayushi Goyal"
for i in s:
    print(i)

H
e
l
l
o

M
y

n
a
m
e

i
s

A
y
u
s
h
i

G
o
y
a
l

In [51]:
s="Hello My name is Ayushi Goyal"
print(len(s))
for i in range(len(s)-1,-1,-1):
    print(s[i])

29
l
a
y
o
G

i
h
s
u
y
A

s
i

e
m
a
n

y
M

o
l
l
e
H

In [33]:
x=10
y=12
z=13
s=[x+y+z for i in range(4)]
print(s)

[35, 35, 35, 35]

In [34]:
l = [124,23,5,6,67,75,65,23,4,32,5,6786,654,543,25,675,7,785,643]
for i in l:
    if i%2==0:
        print(i)

124
6
4
32
6786
654

In [1]:
num=int(input("Enter a number-->"))
count=0
print(["prime" if num%i==0 count+=1 else "not prime" for i in range(1,num+1)])

SyntaxError: invalid syntax (Temp/ipykernel_20904/1598106205.py, line 3)

In [ ]:
#WAP to check whether a number is perfect or not??

In [40]:
num=int(input("Enter a number-->"))
sum=0
for i in range(1,num):
    if num%i==0:
        print(i)
        sum=sum+i
        
if num==sum:
    print("number is perfect")
else:
    print("not perfect")

Enter a number-->28
1
2
4
7
14
number is perfect

In [15]:
#WAP to check whether number is armstrong or not???

In [31]:
num=int(input("enter a number--->"))
res=0
a=num
while num!=0:
    rem=num%10
    res+=rem**3
    num=num//10
if a==res:
    print("number is armstrong")
else:
    print("not armstrong")

enter a number--->153
number is armstrong

In [80]:
s="Ayushi"
for i in range(len(s)-1,-1,-1):
    print(s[i],end=" ")

i h s u y A

In [67]:
#WAP to add all natural numbers upto 100???

In [78]:
sum=0
for i in range(101):
    sum=sum+i
    print(sum,end="\t")
print(sum)

0	1	3	6	10	15	21	28	36	45	55	66	78	91	105	120	136	153	171	190	210	231	253	276	300	325	351	378	406	435	465	496	528	561	595	630	666	703	741	780	820	861	903	946	990	1035	1081	1128	1176	1225	1275	1326	1378	1431	1485	1540	1596	1653	1711	1770	1830	1891	1953	2016	2080	2145	2211	2278	2346	2415	2485	2556	2628	2701	2775	2850	2926	3003	3081	3160	3240	3321	3403	3486	3570	3655	3741	3828	3916	4005	4095	4186	4278	4371	4465	4560	4656	4753	4851	4950	5050	5050

In [84]:
sum=0
for i in range(1,101):
    if num%i==0:
        sum=sum+i
    print(sum,end="\t")

1	3	3	7	7	7	14	14	14	14	14	14	14	28	28	28	28	28	28	28	28	28	28	28	28	28	28	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56	56

In [85]:
l=[10,20,30,40,50,60]
for i in reversed(l):
    print(i)

60
50
40
30
20
10

In [86]:
s="Mayank"
for i in reversed(s):
    print(i)

k
n
a
y
a
M

In [89]:
s="Mayank"
for i in s[::-1]:
    print(i)

k
n
a
y
a
M

In [ ]:
#WAP to print sum and average of given list???

In [107]:
l=[12,23,10,17,34,56]
sum=0
for i in l:
    sum=sum+i
    average=sum/len(l)
print(sum)
print(average)

152
25.333333333333332

In [98]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [127]:
l = [12, 75, 150, 180, 145, 525, 50]
for i in range(len(l)):
    if l[i]%5==0:
        print(l[i])
    elif l[i]>150:
        continue
    elif l[i]>500:
        break

75
150
180
145
525
50

In [2]:
#by using for loop
l=[]
for i in range(1,101):
    if i%2==0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [3]:
# by using list comprehension---
list=[i for i in range(100)]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [4]:
# by using list comprehension---
list=[i for i in range(100) if i%3==0]
print(list)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [5]:
#dictionary comprehension---

In [17]:
d={i:f"item {i}" for i in range(1,11)}
print(d)

{1: 'item 1', 2: 'item 2', 3: 'item 3', 4: 'item 4', 5: 'item 5', 6: 'item 6', 7: 'item 7', 8: 'item 8', 9: 'item 9', 10: 'item 10'}

In [18]:
# To reverse a dictionary by using dictionary comprehension----

In [25]:
dict1={i:f"item {i}" for i in range(10)}
print(dict1)
dict2={value:key for key,value in dict1.items()}
print(dict2)

{0: 'item 0', 1: 'item 1', 2: 'item 2', 3: 'item 3', 4: 'item 4', 5: 'item 5', 6: 'item 6', 7: 'item 7', 8: 'item 8', 9: 'item 9'}
{'item 0': 0, 'item 1': 1, 'item 2': 2, 'item 3': 3, 'item 4': 4, 'item 5': 5, 'item 6': 6, 'item 7': 7, 'item 8': 8, 'item 9': 9}

In [24]:
dict1.items()

dict_items([(0, 'item 0'), (1, 'item 1'), (2, 'item 2'), (3, 'item 3'), (4, 'item 4'), (5, 'item 5'), (6, 'item 6'), (7, 'item 7'), (8, 'item 8'), (9, 'item 9')])

In [26]:
a=[]
for i in range(5):
    a.append(i*i)
print(a)

[0, 1, 4, 9, 16]

In [29]:
l=[i*i for i in range(5) if i%2==0] # by using list comprehension.
print(l)

[0, 4, 16]

In [33]:
a=[]
for i in range(5):
    a[i]=i*i

IndexError: list index out of range

In [39]:
n=int(input("Enter a number-->"))
l=[]
for i in range(1,11):
    l.append(i*n)
print(l)

Enter a number-->2
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [40]:
l=[n=int(input("Enter a number-->")) i*n for i in range(1,11)] #by using list comprehension.
print(l)

SyntaxError: invalid syntax (Temp/ipykernel_20904/3079395057.py, line 1)

In [43]:
l=[i if i<5 else i*2 for i in range(2,11)]
print(l)

[2, 3, 4, 10, 12, 14, 16, 18, 20]

In [46]:
vals=[31,15,52,12,5,39,21,61,25]
for i in vals:
    if i%3==0:
        print(i)

15
12
39
21

In [52]:
l=[31,15,52,12,5,39,21,61,25]
for i in range(len(l)):
    if l[i]%3==0:
        print(l[i])

15
12
39
21

In [50]:
l=[31,15,52,12,5,39,21,61,25]
a=[i for i in l if i%3==0 ]
print(a)

[15, 12, 39, 21]

In [3]:
a=[]
for i in range (10,5,-2):
    for j in range (2,5,4):
        a.append(i**j)
print(a)

[100, 64, 36]

In [1]:
l=[x**y for x in range(10,5,-2) for y in range(2,3,4)]
print(l)

[100, 64, 36]