# String Related Questions
## Lab 1

Ques: You have a non-empty string is given. In ths string we have mutiple function and methods are given.Use those method and 
    do the task, Your task is find starting 5 even index character.Then also find the Last odd 5 even index character in the 
    reverse order.

In [13]:
String = 'DataScience'
print(String)

DataScience

In [16]:
String[:9:2]

'DtSin'

In [18]:
String[-3::-2]

'niStD'

Ques : You have a non-empty string is given. In the String datatype we have some method using those method you need 
    to perform theis task. The task is you have complete line is given with some spaces so you need to perform all 
    the outputs which is describe here.

In [19]:
S='    Talk Is Cheap! Show me the code.      ' 
print(S)

    Talk Is Cheap! Show me the code.

In [20]:
S.title()

'    Talk Is Cheap! Show Me The Code.      '

In [21]:
S.upper()

'    TALK IS CHEAP! SHOW ME THE CODE.      '

In [22]:
S.lower()

'    talk is cheap! show me the code.      '

In [23]:
S.capitalize()

'    talk is cheap! show me the code.      '

In [24]:
S.strip()

'Talk Is Cheap! Show me the code.'

In [25]:
S.lstrip()

'Talk Is Cheap! Show me the code.      '

In [26]:
S.rstrip()

'    Talk Is Cheap! Show me the code.'

In [27]:
S.center(90)

'                            Talk Is Cheap! Show me the code.                              '

In [30]:
S.upper().center(90,"*")

'************************    TALK IS CHEAP! SHOW ME THE CODE.      ************************'

Ques : Given an integer N print the following values for each integer i from 1 to N in these format.
    1. Decimal
    2. Octal
    3. Hexadecimal (capitalized)
    4. Binary
The four values must be printed on a single line in the order specified above for each i from 1 to N. 
Each value should be space-padded to match the width of the binary value of N.

In [43]:
for i in range(50):
     print(f"{i:10}{i:10o}{i:10X}{i:10b}")

         0         0         0         0
         1         1         1         1
         2         2         2        10
         3         3         3        11
         4         4         4       100
         5         5         5       101
         6         6         6       110
         7         7         7       111
         8        10         8      1000
         9        11         9      1001
        10        12         A      1010
        11        13         B      1011
        12        14         C      1100
        13        15         D      1101
        14        16         E      1110
        15        17         F      1111
        16        20        10     10000
        17        21        11     10001
        18        22        12     10010
        19        23        13     10011
        20        24        14     10100
        21        25        15     10101
        22        26        16     10110
        23        27        17     10111
        24        30        18     11000
        25        31        19     11001
        26        32        1A     11010
        27        33        1B     11011
        28        34        1C     11100
        29        35        1D     11101
        30        36        1E     11110
        31        37        1F     11111
        32        40        20    100000
        33        41        21    100001
        34        42        22    100010
        35        43        23    100011
        36        44        24    100100
        37        45        25    100101
        38        46        26    100110
        39        47        27    100111
        40        50        28    101000
        41        51        29    101001
        42        52        2A    101010
        43        53        2B    101011
        44        54        2C    101100
        45        55        2D    101101
        46        56        2E    101110
        47        57        2F    101111
        48        60        30    110000
        49        61        31    110001

Ques : This task is related to text preprocessing Which will help you to understand the text image processing. You have a
    paragraph is given. Your task is to preform these setps for text preprocessing. 
    Tasks:
        1. Remove all the comma (,) in this paragraph.
        2. Remove all the dots (.) in this paragraph.
        3. Remove all the stopwords like "and","a","the","in","of","is","on".
        4. Print the remaining paragraph.

In [47]:
paragraph="""    I have three visions for India. In 3000 years of our history people from all over the world have come and invaded
    us, captured our lands, conquered our minds. From Alexander onwards the Greeks, the Turks, the Moguls, the Portuguese,the
    British, the French, the Dutch, all of them came and looted us, took over what was ours. Yet we have not done this to any 
    other nation. We have not conquered anyone. We have not grabbed their land, their culture and their history and tried to 
    enforce our way of life on them. Why? Because we respect the freedom of others. That is why my FIRST VISION is that of 
    FREEDOM. I believe that India got its first vision of this in 1857, when we started the war of Independence. It is this 
    freedom that we must protect and nurture and build on. If we are not free, no one will respect us."""
print(paragraph)

    I have three visions for India. In 3000 years of our history people from all over the world have come and invaded
    us, captured our lands, conquered our minds. From Alexander onwards the Greeks, the Turks, the Moguls, the Portuguese,the
    British, the French, the Dutch, all of them came and looted us, took over what was ours. Yet we have not done this to any
    other nation. We have not conquered anyone. We have not grabbed their land, their culture and their history and tried to
    enforce our way of life on them. Why? Because we respect the freedom of others. That is why my FIRST VISION is that of
    FREEDOM. I believe that India got its first vision of this in 1857, when we started the war of Independence. It is this
    freedom that we must protect and nurture and build on. If we are not free, no one will respect us.

In [51]:
paragraph.replace(" , "," ")
print(paragraph)

    I have three visions for India. In 3000 years of our history people from all over the world have come and invaded
    us, captured our lands, conquered our minds. From Alexander onwards the Greeks, the Turks, the Moguls, the Portuguese,the
    British, the French, the Dutch, all of them came and looted us, took over what was ours. Yet we have not done this to any
    other nation. We have not conquered anyone. We have not grabbed their land, their culture and their history and tried to
    enforce our way of life on them. Why? Because we respect the freedom of others. That is why my FIRST VISION is that of
    FREEDOM. I believe that India got its first vision of this in 1857, when we started the war of Independence. It is this
    freedom that we must protect and nurture and build on. If we are not free, no one will respect us.

In [56]:
paragraph.replace(" and "," ")
print(paragraph)

    I have three visions for India. In 3000 years of our history people from all over the world have come and invaded
    us, captured our lands, conquered our minds. From Alexander onwards the Greeks, the Turks, the Moguls, the Portuguese,the
    British, the French, the Dutch, all of them came and looted us, took over what was ours. Yet we have not done this to any
    other nation. We have not conquered anyone. We have not grabbed their land, their culture and their history and tried to
    enforce our way of life on them. Why? Because we respect the freedom of others. That is why my FIRST VISION is that of
    FREEDOM. I believe that India got its first vision of this in 1857, when we started the war of Independence. It is this
    freedom that we must protect and nurture and build on. If we are not free, no one will respect us.