# Tuple and dictionary Lab

Quest : This question is related to accessing the element. You have give a tuple where you need to access the second 
    element which is list and inside the list you need to show second element of that list.

In [4]:
 tuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple)

('Orange', [10, 20, 30], (5, 15, 25))

In [5]:
print(tuple[1][1])

20

Ques : In this question a dictionary is given. In this dictionary student data like name, marks are already given.
    By mistake in 'Science' subject marks 78 is filled so we want correction this marks. You need to change the Science 
    subject marks 78 to 87.

In [13]:
dictionary = {"class":{"student":{"name":"Mike","marks":{"physics":70,"history":80,"Math":75,"SST":88,"Science":78}}}}
print(dictionary)

{'class': {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80, 'Math': 75, 'SST': 88, 'Science': 78}}}}

In [21]:
dictionary['Science']=87

In [22]:
print(dictionary)

{'class': {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80, 'Math': 75, 'SST': 88, 'Science': 78}}}, 'Science': 87}

Ques : Suppose you have given a person information like name of person, age, salary, city. In this information need a 
    correction the 'city' need to change in the 'location'. Your task to perfrom this correction with the help of 
    dictionary methods.

In [43]:
d = {"name": "Kelly","age": 25,"salary": 8000,"city": "New york"}
print(d)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}

In [44]:
d['location'] = d.pop('city')
print(d)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

Ques : This is the weather API data from jaipur city. In this data we have many information is given like longitude and 
    latitude, weather condition at persent time, temperature, pressure, humidity and many more informations. Your task to 
    find the usefull information like 'City_name', 'maximum temperature' and 'minimum temperature', "wind speed" 
    information in m/s.

In [45]:
weather_info = {'coord': {'lon': 75.82, 'lat': 26.92}, 
                'weather': [{'id': 701, 'main': 'Mist', 'description': 'mist', 'icon': '50d'}],
                'base': 'stations', 'main': {'temp': 303.15, 'pressure': 997, 'humidity': 74, 
                'temp_min': 303.15, 'temp_max': 303.15}, 'visibility': 3000,
                'wind': {'speed': 4.1, 'deg': 120}, 'clouds': {'all': 40}, 'dt': 1565440871, 
                'sys': {'type': 1, 'id': 9170, 'message': 0.0068, 'country': 'IN', 'sunrise': 1565396728, 
                'sunset': 1565444338}, 'timezone': 19800, 'id': 1269515, 'name': 'Jaipur', 'cod': 200}
print(weather_info)

{'coord': {'lon': 75.82, 'lat': 26.92}, 'weather': [{'id': 701, 'main': 'Mist', 'description': 'mist', 'icon': '50d'}], 'base': 'stations', 'main': {'temp': 303.15, 'pressure': 997, 'humidity': 74, 'temp_min': 303.15, 'temp_max': 303.15}, 'visibility': 3000, 'wind': {'speed': 4.1, 'deg': 120}, 'clouds': {'all': 40}, 'dt': 1565440871, 'sys': {'type': 1, 'id': 9170, 'message': 0.0068, 'country': 'IN', 'sunrise': 1565396728, 'sunset': 1565444338}, 'timezone': 19800, 'id': 1269515, 'name': 'Jaipur', 'cod': 200}

In [57]:
weather_info['sys']['country']

'IN'

Ques: You have given some information related to students like student_id number , student name, and marks on three subject
    math, Science and English. Your task is write a Python program to convert this information into the dictionary formate 
    and then claculate the percentage of each person. In this you need to learn the how the Nested Dictionary work for 
    storing student information.
    
student_id = ['S001', 'S002', 'S003', 'S004']
student_name = ['Adina Park', 'Leyton Marsh', 'Duncan Boyle', 'Saim Richards']
marks = Math : [85, 98, 89, 92], 
        Science : [78,98,88,90], 
        English : [89,93,67,77]

In [3]:
d={'student_id':['S001','S002','S003','S004'],'student_name':['Adina Park','Leyton Marsh','Ducan Boyle','Saim Richards'],'marks':{
    'Math':[85,98,89,92],'Science':[78,98,88,90],'English':[89,93,67,77]}}
print(d)

{'student_id': ['S001', 'S002', 'S003', 'S004'], 'student_name': ['Adina Park', 'Leyton Marsh', 'Ducan Boyle', 'Saim Richards'], 'marks': {'Math': [85, 98, 89, 92], 'Science': [78, 98, 88, 90], 'English': [89, 93, 67, 77]}}

In [12]:
d.values()

dict_values([['S001', 'S002', 'S003', 'S004'], ['Adina Park', 'Leyton Marsh', 'Ducan Boyle', 'Saim Richards'], {'Math': [85, 98, 89, 92], 'Science': [78, 98, 88, 90], 'English': [89, 93, 67, 77]}])

In [13]:
d.keys()

dict_keys(['student_id', 'student_name', 'marks'])

In [29]:
print('student id-->',d['student_id'][:4])
print('student name-->',d['student_name'][:4])
Adina_per =(85+78+89)/300*100
Leyton_per= (98+98+93)/300*100
Ducan_per=(89+88+67)/300*100
Saim_per=(92+90+77)/300*100
print(f"Percentage of Adina--->{Adina_per}")
print(f"Percentage of Leyton--->{Leyton_per}")
print(f"Percentage of Ducan--->{Ducan_per}")
print(f"Percentage of Saim--->{Saim_per}")

student id--> ['S001', 'S002', 'S003', 'S004']
student name--> ['Adina Park', 'Leyton Marsh', 'Ducan Boyle', 'Saim Richards']
Percentage of Adina--->84.0
Percentage of Leyton--->96.33333333333334
Percentage of Ducan--->81.33333333333333
Percentage of Saim--->86.33333333333333